

.headerBlock {
    background-color: #282c34;
    height: 50px;
    padding: 20px;
    font-size: 18px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    align-items: center;
}

.headerLink {
    color: white;
    margin-left: 8%;
}

.headerLinkContainer {
    display: flex;
}
